--extra-index-url https://download.pytorch.org/whl/cu118

numpy==1.26.4
opencv-python-headless==4.10.0.82
PyQt5==5.15.11
PyQt5-sip==12.17.0
scipy==1.16.1
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
ultralytics==8.3.177
seaborn==0.13.2
edge-tts==7.2.0
asyncio== 4.0.0
